.chat-main
  .chat-main__header
    .top-items
      .top-items__group-info
        .group-name
          = @group.name
        .member-list
          Member : 
          - @group.users.each do |user|
            = user.name
      = link_to edit_group_path(@group), class: 'top-items__edit-btn' do
        Edit
  .chat-main__message-list
    = render @messages
  .chat-main__send-message
    = form_for [@group, @message] do |f|
      .new-message
        .new-message__text
          =f.text_field :content, class: 'input-text', placeholder: 'type a message' 
          =f.label :image, class: 'icon-file' do
            = icon('fas', 'image')
            =f.file_field :image, class: 'input-file' 
        .new-message__submit
          = f.submit 'Send', class: 'input-submit' 

