.side-bar
  .side-bar__header
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: 'create-group' do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: 'edit-mypage' do
          = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group| 
      .group
        =link_to '#' do
          .group__name
            = group.name
          .group__lastest-message
            まだメッセージはありません
            